.group
{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  /*align-items: stretch;*/
}

.title
{
  margin: 0 0 .5em;
  padding: 10px 40px;
  background: #fafafa;
  font-weight: normal;
  text-transform: capitalize;
}
